@keyframes logo {
    0%{
        transform: rotateY(360deg);
    }
}
.anim-logo{
    animation: logo 10s infinite ease-in-out;
}   
@keyframes lheader {
    0%{
        transform: rotate(360deg);
    }
    50%{
    transform: rotate(-360deg);
    }
}
.anim-icon{
    animation: lheader 50s infinite ease-in-out;
}