:root {
  --color1: #00055f;
  --color2: #ffa000;
  --color3: #020001;
  --color4: #0072e9;
  --color5: #820000;
}
@font-face {
  font-family: "Raleway-Bold";
  src: url("../fonts/Raleway/static/Raleway-Bold.ttf");
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
  font-family: "Outfit-Semibold";
  src: url("../fonts/Outfit/static/Outfit-SemiBold.ttf");
  font-family: "Outfit-Regular";
  src: url("../fonts/Outfit/static/Outfit-Regular.ttf");
  font-family: "Poppins-Medium";
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
}
html {
  font-family: "Raleway-Bold";
  font-weight: 800;
}
h2 {
  text-shadow: none;
  text-align: center;
  font-size: 3rem;
  color: rgb(3, 3, 3);
  font-family: righteous;
}
body {
  width: 100%;
  height: auto;
}
.position-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
}
.position-two {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*cards*/
.card {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  width: 95%;
  height: auto;
  padding: 40px;
  background: var(--color4);
  border-radius: 40px 0 40px 0;
}
/* fincards */
/*style form*/
.form {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
}

.form .title {
  color: royalblue;
  font-size: 30px;
  font-weight: 600px;
  letter-spacing: -1px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input {
  outline: 0;
  border: 1px solid rgb(219, 213, 213);
  padding: 8px 14px;
  border-radius: 8px;
  width: 100%;
  height: 50px;
}

.form textarea {
  border-radius: 8px;
  height: 100px;
  width: 100%;
  resize: none;
  outline: 0;
  padding: 8px 14px;
  border: 1px solid rgb(219, 213, 213);
}

.form button {
  align-self: flex-end;
  padding: 8px;
  outline: 0;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  background-color: royalblue;
  color: #fff;
  cursor: pointer;
}   
/*fin form*/
/*iframe*/
iframe{
  border-radius: 10px;
  border: white solid 5px;
}