:root {
  --color1: #00055f;
  --color2: #ffa000;
  --color3: #020001;
  --color4: #0072e9;
  --color5: #820000;
}
@font-face {
  font-family: "Raleway-Bold";
  src: url("../fonts/Raleway/static/Raleway-Bold.ttf");
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
  font-family: "Outfit-Semibold";
  src: url("../fonts/Outfit/static/Outfit-SemiBold.ttf");
  font-family: "Outfit-Regular";
  src: url("../fonts/Outfit/static/Outfit-Regular.ttf");
  font-family: "Poppins-Medium";
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
}
html {
  font-family: "Raleway-Bold";
  font-weight: 800;
}
h2 {
  text-shadow: none;
  text-align: center;
  font-size: 3rem;
  color: rgb(3, 3, 3);
  font-family: righteous;
}
body {
  width: 100%;
  height: auto;
}
.position-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.position-two {
  display: flex;
  justify-content: center;
}
input {
  border: none;
  border-radius: 10px;
  margin: 5px 5px;
  padding: 4px;
  width: 390px;
}
textarea {
  border: none;
  border-radius: 10px;
  margin: 5px 5px;
  padding: 4px;
}
/*card*/
.card {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  width: 95%;
  height: auto;
  padding: 40px;
  background: var(--color4);
  border-radius: 40px 0 40px 0;
}
/* fincard */
