@font-face {
  font-family: "Raleway-Bold";
  src: url("../fonts/Raleway/static/Raleway-Bold.ttf");
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
  font-family: "Outfit-Semibold";
  src: url("../fonts/Outfit/static/Outfit-SemiBold.ttf");
  font-family: "Outfit-Regular";
  src: url("../fonts/Outfit/static/Outfit-Regular.ttf");
  font-family: "Poppins-Medium";
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
}
body{
  background-color: whitesmoke;
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.total-container {
  border-top: thin solid #000;
  border-bottom: thin solid #000;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;

}

.flex-father {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.icon section {
  z-index: 99;
  text-align: center;
  justify-self: center;
  display: inline;
  flex-grow: 0.1;
}

.icon {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 95px;
  height: 95px;
  position: absolute;
  top: 4px;
}

.text-title {
  font-size: 36px;
  font-family: "Raleway-Bold";
  margin-bottom: 0.5rem;
  font-weight: bold;
  align-self: center;
}

.user-svg {
  width: 3rem;
  height: 3rem;
}

.text-p {
  font-family: "Poppins-Regular";
  font-size: 20px;
  color: #636363;
}

.venezuelaFlag {
  width: 4rem;
  height: 4rem;
  justify-self: flex-end;
}

.espacio {
  flex-grow: 1;
}
.espacio2 {
  flex-grow: 0.7;
}

.flex-father2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.content-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
}

.purble-box {
  width: 50%;
  text-align: center;
  background-color: #6a00bf;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

.purble-box a {
  font-family: "Outfit-Semibold";
  font-weight: 700;
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

.white-box {
  display: block;
  width: 50%;
  text-align: center;
  border: thin #000 solid;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.white-box a {
  font-family: "Outfit-Semibold";
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: none;
  color: #000;
}

.form-login {
  width: 50%;
}

.form-login label {
  font-family: "Outfit-Regular";
  font-size: 1.1 rem;
  color: #6f6f6f;
  font-weight: normal;
}

.text-alert {
  color: #4285f4;
  text-align: center;
  font-size: 1rem;
}

.text-alert2 {
  font-family: "Outfit-Regular";
  color: #757171;
  font-size: 1rem;
  display: inline;
  margin: 0 5px;
}

.text-alert3 {
  font-family: "Poppins-Medium";
  color: #000;
  font-size: 1.3rem;
  display: inline;
  margin: 0 5px;
}

.text-alert4 {
  font-family: "Outfit-Regular";
  color: #636363;
  font-size: 1.1rem;
  display: inline;
  margin: 5px;
}

.text-alert4 b a {
  color: #000000;
  text-decoration: none;
}

.submit-button {
  width: 100%;
  background-color: #190152;
  font-family: "Outfit-Semibold";
  font-weight: 700;
  font-size: 1.2rem;
}

.submit-container {
  width: 80%;
  margin: 0 auto;
}

.linea-left {
  height: 2px;
  width: 5rem;
  background-color: #a39797;
  display: inline-block;
}

.linea-right {
  height: 2px;
  width: 5rem;
  background-color: #a39797;
  display: inline-block;
}

.bottom-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-login a {
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.bottom-login img {
  width: 2.3rem;
  height: 2.3rem;
  margin: 0.3rem;
}
