@media screen and (max-width: 1024px) {
  /* -----------------------Catalogo-styles------------------ */
  /* Estilos Sección Categorías */

  .cat-link_s,
  .cat-link_m,
  .cat-link_l {
    height: 13rem;
  }
  .black-cape {
    width: 100%;
    height: 100%;
  }

  /* -------------------------login-styles------------------*/
  .input-container .form-login {
    padding: 9px;
  }
  .title-login {
    font-size: 2.3rem;
  }
  /* Estilos Login Container */
  .label-login {
    margin-left: 4rem;
    font-size: 1.15rem;
  }
  /* Estilos Finales */
  .sub-title-three-login,
  .recover {
    font-size: 1rem;
    margin: 5px;
  }
  .social-network a svg {
    width: 35px;
    height: 35px;
  }

  /*---------------------------styles Register---------------------*/
  /* Estilos Sección 1 */
  .seccion1 {
    order: 2; /* Si desea volver a poner el teléfono a la izquierda borre esto :D, no dañe eñ resto del código. GRACIAS... <3 */
  }
  /* Estilos Input Nombre */
  .user,
  .mail,
  .tlfno,
  .password {
    width: 72%;
  }
  /* Estilos Finales */
  .alert-sms {
    font-size: 1.1rem;
  }

  .text-blog-one {
    width: 70%;
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 1000px) {
  .header {
    width: auto;
    height: auto;
    justify-content: space-between;
  }
  /* Estilizar el Contenedor del menú */
  #menu-hamburguesa {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00000098;
    transform: translateY(300%);
    transition: transform 0.3s ease-in-out;
    padding: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 99999;
  }
  #menu-hamburguesa.mostrando {
    transform: translateY(0);
  }
  #boton-hamburguesa.mostrando {
    position: fixed;
    top: 1.8rem;
    right: 16px;
    margin-right: 0;
  }

  /* Estilizar los elementos del menú */

  .link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-family: montserrat;
    text-decoration: none;
    width: 50%;
    font-size: 1rem;
    color: black;
    background-color: #fff;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    margin-top: 1rem;
  }
  .link:hover {
    background-color: #820000;
    color: white;
    transform: scale(1.1);
    transition: 300ms ease-in;
  }
  .button-login {
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-family: montserrat;
    color: var(--color-four);
    background-color: #fff;
    cursor: pointer;
    transition: background-color 300ms ease-in;
    margin-top: 1rem;
  }
  .button-login:hover {
    color: #fff;
    background-color: #820000;
    transform: scale(1.1);
    transition: 300ms ease-in;
  }
  .margin-top-1rem {
    margin: 0;
    margin-top: 1rem;
  }

  /* Estilizar el icono del menú hamburguesa */
  #boton-hamburguesa {
    visibility: initial;
    border-radius: 10px;
    background-color: #820000;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    justify-self: flex-end;
    margin-right: 1rem;
  }

  /* -----------------------Catalogo-styles------------------ */
  /* Estilos Sección Categorías */

  .categorias {
    margin: 0 auto 5rem;
    width: 75%;
    height: 100vh;
    display: flex;
    padding: 10px;
  }
  .row {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
  }
  .cat-link_s,
  .cat-link_m,
  .cat-link_l {
    width: 100%;
    height: 17rem;
    padding-top: 1rem;
  }
  .cat-contain,
  .cat-contain2,
  .cat-contain3,
  .cat-contain4,
  .cat-contain5 {
    width: 100%;
    height: 100%;
  }

  /* Estilos Categorías */
  /*----------------------EStilos para las cards generales-------------------------------*/
  /* estilos Desing-card*/
  .cat-768px {
    width: 100%;
  }

  .desing-card {
    width: 40%;
    height: auto;
    position: relative;
    margin-bottom: 2rem;
  }

  .card-desing-download-svg {
    top: auto;
  }
  .desing-card-img > img {
    width: 100%;
  }
  .desing-card-text {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: flex-start;
  }
  .desing-log-creativa {
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }
  .desing-card-2 {
    width: 65%;
  }
  .desing-card-text-2 {
    width: 100%;
    justify-content: flex-start;
  }
  .desing-card-text-2 > span {
    margin-left: 10px;
  }
  .desing-card-img-2 > img {
    width: 100%;
    border-radius: 10px;
  }
  .desing-log-creativa-2 {
    width: 50px;
    height: 50px;
    margin-left: 1rem;
  }

  /*main tipo canvas*/
  .positions-menu-of-content {
    margin-top: 2rem;
    height: auto;
    width: auto;
    display: flex;
  }
  .direction-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .title-text {
    margin: 1rem 0 2rem;
    width: 100%;
    text-align: center;
    font-size: 2rem;
  }
  .main {
    width: 70%;
    margin: 0 auto 1rem;
    height: 360px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: initial;
  }
  .tam {
    width: 50px;
    height: 50px;
    object-fit: cover;
    background-color: #820000;
    border-radius: 100%;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .name-photo {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .main-section {
    text-align: center;
    width: 10rem;
    height: auto;
    padding: 1rem;
    margin: 1rem;
    justify-content: center;
    background-color: #fff1fd;
    border-radius: 10px;
    display: inline-block;
  }
  .main-section:hover,
  .main-section:hover a {
    background-color: #820000;
    color: #fff;
  }

  body.dark-mode {
    .main-section {
      text-align: center;
      width: 10rem;
      height: auto;
      padding: 1rem;
      margin: 1rem;
      justify-content: center;
      background-color: #fff1fd;
      border-radius: 10px;
      display: inline-block;
    }
    .main-section a {
      color: #000;
    }
    .main-section:hover,
    .main-section:hover a {
      background-color: #820000;
      color: #fff;
    }
  }
}
@media screen and (max-width: 968px) {
  /* Estilos Categorías */
  /*----------------------EStilos para las cards generales-------------------------------*/
  /* estilos Desing-card*/
  .cat-768px {
    width: 100%;
  }

  .desing-card {
    width: 40%;
    height: auto;
    position: relative;
    margin-bottom: 2rem;
  }

  .card-desing-download-svg {
    top: auto;
  }
  .desing-card-img > img {
    width: 100%;
  }
  .desing-card-text {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: flex-start;
  }
  .desing-log-creativa {
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }
  .desing-card-2 {
    width: 65%;
  }
  .desing-card-text-2 {
    width: 100%;
    justify-content: flex-start;
  }
  .desing-card-text-2 > span {
    margin-left: 10px;
  }
  .desing-card-img-2 > img {
    width: 100%;
    border-radius: 10px;
  }
  .desing-log-creativa-2 {
    width: 50px;
    height: 50px;
    margin-left: 1rem;
  }

  /*main tipo canvas*/
  .positions-menu-of-content {
    margin-top: 2rem;
    height: auto;
    width: auto;
    display: flex;
  }
  .direction-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .title-text {
    margin: 1rem 0 2rem;
    width: 100%;
    text-align: center;
    font-size: 2rem;
  }
  .main {
    width: 70%;
    margin: 0 auto 1rem;
    height: 360px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: initial;
  }
  .tam {
    width: 50px;
    height: 50px;
    object-fit: cover;
    background-color: #820000;
    border-radius: 100%;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .name-photo {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .main-section {
    text-align: center;
    width: 10rem;
    height: auto;
    padding: 1rem;
    margin: 1rem;
    justify-content: center;
    background-color: #fff1fd;
    border-radius: 10px;
    display: inline-block;
  }
  .main-section:hover,
  .main-section:hover a {
    background-color: #820000;
    color: #fff;
  }
}
@media screen and (max-width: 803px) {
  .alert-sms {
    font-size: 1rem;
  }

  .text-blog-one {
    width: 80%;
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .header {
    height: auto;
    width: auto;
    justify-content: space-between;
  }

  /* Estilizar el Contenedor del menú */
  #menu-hamburguesa {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00000098;
    transform: translateY(300%);
    transition: transform 0.3s ease-in-out;
    padding: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 99999;
  }
  #menu-hamburguesa.mostrando {
    transform: translateY(0);
  }
  #boton-hamburguesa.mostrando {
    position: fixed;
    top: 1.8rem;
    right: 16px;
    margin-right: 0;
  }

  /* Estilizar los elementos del menú */

  .link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-family: montserrat;
    text-decoration: none;
    width: 60%;
    height: 55px;
    font-size: 1rem;
    color: black;
    background-color: #fff;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    margin-top: 1rem;
  }
  .link:hover {
    background-color: #820000;
    color: white;
    transform: scale(1.1);
    transition: 300ms ease-in;
  }
  .button-login {
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-family: montserrat;
    color: var(--color-four);
    background-color: #fff;
    cursor: pointer;
    transition: background-color 300ms ease-in;
    margin-top: 1rem;
  }
  .button-login:hover {
    color: #fff;
    background-color: #820000;
    transform: scale(1.1);
    transition: 300ms ease-in;
  }
  .margin-top-1rem {
    margin: 0;
    margin-top: 1rem;
  }

  /* Estilizar el icono del menú hamburguesa */
  #boton-hamburguesa {
    visibility: initial;
    border-radius: 10px;
    background-color: #820000;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    justify-self: flex-end;
    margin-right: 1rem;
  }
  .main-login {
    flex-direction: column;
  }
  .seccion1 {
    display: none;
  }
  .seccion2 {
    width: auto;
    margin: 0 auto;
  }
  /* -----------------------Catalogo-styles------------------ */
  /* Estilos Sección Categorías */

  .categorias {
    margin: 0 auto 5rem;
    width: 75%;
    height: auto;
    display: flex;
    padding: 10px;
  }
  .row {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
  }
  .cat-link_s,
  .cat-link_m,
  .cat-link_l {
    width: 100%;
    height: 15rem;
  }
  .cat-contain,
  .cat-contain2,
  .cat-contain3,
  .cat-contain4,
  .cat-contain5 {
    width: 100%;
    height: 100%;
  }

  /* Estilos Categorías */
  /*----------------------EStilos para las cards generales-------------------------------*/
  /* estilos Desing-card*/
  .cat-768px {
    width: 100%;
  }

  .desing-card {
    width: 40%;
    height: auto;
    position: relative;
    margin-bottom: 2rem;
  }

  .card-desing-download-svg {
    top: auto;
  }
  .desing-card-img > img {
    width: 100%;
  }
  .desing-card-text {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: flex-start;
  }
  .desing-log-creativa {
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }
  .desing-card-2 {
    width: 65%;
  }
  .desing-card-text-2 {
    width: 100%;
    justify-content: flex-start;
  }
  .desing-card-text-2 > span {
    margin-left: 10px;
  }
  .desing-card-img-2 > img {
    width: 100%;
    border-radius: 10px;
  }
  .desing-log-creativa-2 {
    width: 50px;
    height: 50px;
    margin-left: 1rem;
  }

  /*main tipo canvas*/
  .positions-menu-of-content {
    margin-top: 2rem;
    height: auto;
    width: auto;
    display: flex;
  }
  .direction-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .title-text {
    margin: 1rem 0 2rem;
    width: 100%;
    text-align: center;
    font-size: 2rem;
  }
  .main {
    width: 70%;
    margin: 0 auto 1rem;
    height: 360px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: initial;
  }
  .tam {
    width: 50px;
    height: 50px;
    object-fit: cover;
    background-color: #820000;
    border-radius: 100%;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .name-photo {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .main-section {
    text-align: center;
    width: 10rem;
    height: auto;
    padding: 1rem;
    margin: 1rem;
    justify-content: center;
    background-color: #fff1fd;
    border-radius: 10px;
    display: inline-block;
  }
  .main-section:hover,
  .main-section:hover a {
    background-color: #820000;
    color: #fff;
  }
  /* Estilos del Login */
  .seccion2-768px {
    width: 100%;
  }
  .input-container .form-login {
    width: 60%;
  }
  .title-login {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .header {
    height: auto;
    width: auto;
    justify-content: space-between;
  }
  /* Estilizar el Contenedor del menú */
  #menu-hamburguesa {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00000098;
    transform: translateY(300%);
    transition: transform 0.3s ease-in-out;
    padding: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 99999;
  }
  #menu-hamburguesa.mostrando {
    transform: translateY(0);
  }
  #boton-hamburguesa.mostrando {
    position: fixed;
    top: 1.8rem;
    right: 1rem;
    margin-right: 0;
  }

  /* Estilizar los elementos del menú */
  .link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-family: montserrat;
    text-decoration: none;
    width: 50%;
    font-size: 1rem;
    color: black;
    background-color: #fff;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    margin-top: 1rem;
  }
  .link:hover {
    background-color: #820000;
    color: white;
    transform: scale(1.1);
    transition: 300ms ease-in;
  }
  .button-login {
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-family: montserrat;
    color: var(--color-four);
    background-color: #fff;
    cursor: pointer;
    transition: background-color 300ms ease-in;
    margin-top: 1rem;
  }
  .button-login:hover {
    color: #fff;
    background-color: #820000;
    transform: scale(1.1);
    transition: 300ms ease-in;
  }
  .margin-top-1rem {
    margin: 0;
    margin-top: 1rem;
  }

  /* Estilizar el icono del menú hamburguesa */
  #boton-hamburguesa {
    visibility: initial;
    border-radius: 10px;
    background-color: #820000;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    margin-right: 1rem;
  }
  .name-photo {
    width: 92%;
  }
  .content-blog {
    margin: 0 auto;
  }

  .content-blog > h2 {
    font-size: 2rem;
    text-align: center;
  }

  /* Estilos del Login */
  .seccion2-768px {
    width: 100%;
  }
  .label-login {
    margin-left: 3rem;
  }
  .input-container .form-login {
    width: 70%;
  }
  .title-login {
    width: 100%;
  }

  .text-blog-one {
    width: 90%;
    font-size: 1rem;
  }
}
@media screen and (max-width: 550px) {
  /*main tipo canvas*/
  .title-text {
    font-size: 1.8rem;
  }
  .main {
    width: 90%;
    height: 400px;
  }
  .name-photo {
    width: 78%;
  }
  .main-section {
    width: 10rem;
  }

  .text-blog-one {
    width: 95%;
    font-size: 1rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }
}
@media screen and (max-width: 503px) {
  .input-container .form-login {
    width: 75%;
  }
  .user,
  .mail,
  .tlfno,
  .password {
    font-size: 1rem;
    padding: 0.3rem;
    padding-left: 0.5rem;
  }
}
@media screen and (max-width: 480px) {
  .header {
    width: auto;
    height: auto;
    justify-content: space-between;
  }
  /* Estilizar el Contenedor del menú */
  #menu-hamburguesa {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00000098;
    transform: translateY(300%);
    transition: transform 0.3s ease-in-out;
    padding: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 99999;
  }
  #menu-hamburguesa.mostrando {
    transform: translateY(0);
  }
  #boton-hamburguesa.mostrando {
    position: fixed;
    top: 1.9rem;
    right: 1rem;
    margin-right: 0;
  }

  /* Estilizar los elementos del menú */

  .link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-family: montserrat;
    text-decoration: none;
    width: 50%;
    font-size: 1rem;
    color: black;
    background-color: #fff;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    margin-top: 1rem;
  }
  .link:hover {
    background-color: #820000;
    color: white;
    transform: scale(1.1);
    transition: 300ms ease-in;
  }
  .button-login {
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-family: montserrat;
    color: var(--color-four);
    background-color: #fff;
    cursor: pointer;
    transition: background-color 300ms ease-in;
    margin-top: 1rem;
  }
  .button-login:hover {
    color: #fff;
    background-color: #820000;
    transform: scale(1.1);
    transition: 300ms ease-in;
  }
  .margin-top-1rem {
    margin: 0;
    margin-top: 1rem;
  }

  /* Estilizar el icono del menú hamburguesa */
  #boton-hamburguesa {
    visibility: initial;
    border-radius: 10px;
    background-color: #820000;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    margin-right: 1rem;
  }
  /* -----------------------Catalogo-styles------------------ */
  /* Estilos Sección Categorías */

  .categorias {
    margin: 0 auto 5rem;
    width: 85%;
    height: auto;
    display: flex;
    padding: 10px;
  }
  .row {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
  }
  .cat-link_s,
  .cat-link_m,
  .cat-link_l {
    width: 100%;
    height: 15rem;
  }
  .cat-contain,
  .cat-contain2,
  .cat-contain3,
  .cat-contain4,
  .cat-contain5 {
    width: 100%;
    height: 100%;
  }

  /* Estilos Categorías */
  /*----------------------EStilos para las cards generales-------------------------------*/
  /* estilos Desing-card*/
  .cat-768px {
    width: 100%;
  }
  .main {
    width: 95%;
  }
  .desing-card-text-2 > span {
    margin: 0;
  }
}
@media screen and (max-width: 425px) {
  /* Estilos Para El Titulo Y Logo De La Compañia */
  .image-title {
    margin-left: 20px;
  }
  .image-title > img {
    width: 50px;
    height: 50px;
  }
  .title-pag {
    font-size: 1.7rem;
  }
  .header {
    height: auto;
    width: auto;
    justify-content: space-between;
  }
  .slogan {
    font-size: 1.5rem;
  }
  .card {
    margin-bottom: 50px;
  }
  /* Estilizar el Contenedor del menú */
  #menu-hamburguesa {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00000098;
    transform: translateY(300%);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 300ms ease;
    padding: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 99999;
  }
  #menu-hamburguesa.mostrando {
    transform: translateY(0);
    opacity: 1;
  }
  #boton-hamburguesa.mostrando {
    position: fixed;
    top: 1.8rem;
    right: 1rem;
    margin-right: 0;
  }

  /* Estilizar los elementos del menú */

  .link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-family: montserrat;
    text-decoration: none;
    width: 60%;
    height: 50px;
    font-size: 1rem;
    color: black;
    background-color: #fff;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    margin-top: 1rem;
  }
  .link:hover {
    background-color: #820000;
    color: white;
    transform: scale(1.1);
    transition: 300ms ease-in;
  }
  .button-login {
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-family: montserrat;
    color: var(--color-four);
    background-color: #fff;
    cursor: pointer;
    transition: background-color 300ms ease-in;
    margin-top: 1rem;
  }
  .button-login:hover {
    color: #fff;
    background-color: #820000;
    transform: scale(1.1);
    transition: 300ms ease-in;
  }
  .margin-top-1rem {
    margin: 0;
    margin-top: 1rem;
  }

  /* Estilizar el icono del menú hamburguesa */
  #boton-hamburguesa {
    visibility: initial;
    border-radius: 10px;
    background-color: #820000;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    margin-right: 1rem;
  }

  /* 1er Contenido */
  .content-text {
    font-size: 1.5rem;
    margin: 0;
    margin-top: 2rem;
  }
  .title-one {
    font-size: 3rem;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
  }

  /*estilos del enlace para el blog*/
  .content-blog > h2 {
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
  }
  /* Estilos Parte Izquierda del 3er Contenido */
  .objet-one {
    font-size: 1.3rem;
    text-align: center;
    margin: 30px 0;
  }

  /* Estilos Parte Derecha del 3er Contenido */
  .objet-two > article > h4 {
    font-size: 1.5rem;
  }
  .objet-two > article > h4 > span {
    font-size: 3rem;
  }
  .objet-two > article > p {
    width: 300px;
  }

  /* Estilos Para La Etiqueta Footer Y Su Contenido Principal */
  .footer > h2 {
    font-size: 1.2rem;
    text-align: center;
    font-family: montserrat-extrabold;
  }
  .social-network > a svg {
    width: 2.5rem;
    height: 2.5rem;
  }

  /* -----------------------Catalogo-styles------------------ */
  /* Estilos Sección Categorías */
  .categorias {
    width: 90%;
  }

  /* Estilos Categorías */
  /*----------------------EStilos para las cards generales-------------------------------*/
  /* estilos Desing-card*/
  .cat-768px {
    width: 100%;
  }
  .desing-card {
    width: 65%;
  }
  .desing-card-2 {
    width: 70%;
  }
  .desing-card-text-2 > span {
    margin-left: 10px;
  }

  /*main tipo canvas*/
  .title-text {
    font-size: 1.6rem;
  }
  .main {
    width: 100%;
    height: 400px;
  }
  .main-section {
    padding: 0.6rem;
    width: 8rem;
  }
  .name-photo {
    width: 90%;
  }

  /* Estilos Del Login */
  .seccion2-768px {
    width: 100%;
  }
  .label-login {
    margin-left: 2.1rem;
  }
  .input-container .form-login {
    width: 85%;
  }
  .title-login {
    width: 100%;
  }
  .user,
  .mail,
  .tlfno,
  .password {
    width: 80%;
    font-size: 1rem;
    padding: 0.3rem;
    padding-left: 0.5rem;
  }
  .login {
    padding: 0.6rem;
  }

  .contenedor,
  .position-1,
  .position-2,
  .position-3 {
    width: 100%;
  }
  .texto {
    width: 95%;
    margin: 0 auto;
  }
  .text-blog-one {
    width: 100%;
    font-size: 1rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }
}
@media screen and (max-width: 375px) {
  body {
    width: auto;
    height: auto;
    padding: auto;
  }
  /* Estilos Para El Titulo Y Logo De La Compañia */
  .image-title {
    margin-left: 20px;
  }
  .image-title > img {
    width: 50px;
    height: 50px;
  }
  .title-pag {
    font-size: 1.7rem;
  }
  .header {
    justify-content: space-between;
  }

  /* Estilizar el Contenedor del menú */
  #menu-hamburguesa {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00000098;
    transform: translateY(300%);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 300ms ease;
    padding: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 99999;
  }
  #menu-hamburguesa.mostrando {
    transform: translateY(0);
    opacity: 1;
  }
  #boton-hamburguesa.mostrando {
    position: fixed;
    top: 1.8rem;
    right: 1rem;
    margin-right: 0;
  }

  /* Estilizar los elementos del menú */

  .link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-family: montserrat;
    text-decoration: none;
    width: 70%;
    height: 50px;
    font-size: 1rem;
    color: black;
    background-color: #fff;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    margin-top: 1rem;
  }
  .link:hover {
    background-color: #820000;
    color: white;
    transform: scale(1.1);
    transition: 300ms ease-in;
  }
  .button-login {
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-family: montserrat;
    color: var(--color-four);
    background-color: #fff;
    cursor: pointer;
    transition: background-color 300ms ease-in;
    margin-top: 1rem;
  }
  .button-login:hover {
    color: #fff;
    background-color: #820000;
    transform: scale(1.1);
    transition: 300ms ease-in;
  }
  .margin-top-1rem {
    margin: 0;
    margin-top: 1rem;
  }

  /* Estilizar el icono del menú hamburguesa */
  #boton-hamburguesa {
    visibility: initial;
    border-radius: 10px;
    background-color: #820000;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    margin-right: 1rem;
  }

  /* 1er Contenido */
  .content-text {
    font-size: 1.5rem;
    margin: 0;
    margin-top: 2rem;
  }
  .title-one {
    font-size: 3rem;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
  }

  /*estilos del enlace para el blog*/
  .content-blog > h2 {
    font-size: 2rem;
    text-align: center;
  }
  /* Estilos Parte Izquierda del 3er Contenido */
  .objet-one {
    font-size: 1.3rem;
    text-align: center;
    margin: 30px 0;
  }

  /* Estilos Parte Derecha del 3er Contenido */
  .objet-two > article > h4 {
    font-size: 1.5rem;
  }
  .objet-two > article > h4 > span {
    font-size: 3rem;
  }
  .objet-two > article > p {
    width: 300px;
  }

  /* Estilos Para La Etiqueta Footer Y Su Contenido Principal */
  .footer > h2 {
    font-size: 1.2rem;
    text-align: center;
    font-family: montserrat-extrabold;
  }
  .social-network > a svg {
    width: 2.5rem;
    height: 2.5rem;
  }

  /* -----------------------Catalogo-styles------------------ */
  /* Estilos Sección Categorías */

  .categorias {
    width: 95%;
  }

  /* Estilos Categorías */
  /*----------------------EStilos para las cards generales-------------------------------*/
  /* estilos Desing-card*/
  .cat-768px {
    width: 100%;
  }
  .desing-card {
    width: 75%;
  }
  .desing-log-creativa {
    width: 45px;
    height: 45px;
  }
  .desing-card-2 {
    width: 80%;
  }
  .desing-log-creativa-2 {
    width: 45px;
    height: 45px;
  }

  /*main tipo canvas*/
  .title-text {
    margin: 1rem 0 2rem;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
  }
  .main {
    width: 100%;
    height: 540px;
  }
  .tam {
    width: 45px;
    height: 45px;
  }
  .main-section {
    width: 8rem;
    height: auto;
    padding: 0.6rem;
  }
  body.dark-mode {
    .main-section {
      width: 8rem;
      height: auto;
      padding: 0.6rem;
    }
  }
  .slogan > article > h2 {
    font-size: 2rem;
  }

  /* Estilos Del Login */
  .seccion2-768px {
    max-height: 100vh;
  }
  .input-container .form-login {
    padding: 0;
    max-height: 100vh;
  }
  .title-login {
    margin-top: 0;
    font-size: 2rem;
  }
  .sub-title-three-login {
    font-size: 0.9rem;
  }
  .social-network a svg {
    width: 30px;
    height: 30px;
  }
  .login {
    padding: 0.4rem;
  }
  .user,
  .mail,
  .tlfno,
  .password {
    width: 82%;
    font-size: 1rem;
    padding: 0.3rem;
    padding-left: 0.5rem;
  }
  .label-login {
    font-size: 1rem;
    margin-left: 1.8rem;
  }

  .text-blog-one {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }
}
@media screen and (max-width: 320px) {
  body {
    width: auto;
    height: auto;
    padding: auto;
  }
  /* Estilos Para El Titulo Y Logo De La Compañia */
  .image-title {
    margin-left: 15px;
  }
  .image-title > img {
    width: 40px;
    height: 40px;
  }
  .title-pag {
    font-size: 1.6rem;
  }
  .header {
    width: 100%;
    justify-content: space-between;
  }

  /* Estilizar el Contenedor del menú */
  #menu-hamburguesa {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00000098;
    transform: translateY(300%);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 300ms ease;
    padding: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 99999;
  }
  #menu-hamburguesa.mostrando {
    transform: translateY(0);
    opacity: 1;
  }
  #boton-hamburguesa.mostrando {
    position: fixed;
    top: 1.8rem;
    right: 1rem;
    margin-right: 0;
  }

  /* Estilizar los elementos del menú */

  .link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-family: montserrat;
    text-decoration: none;
    width: 60%;
    height: 50px;
    font-size: 1rem;
    color: black;
    background-color: #fff;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    margin-top: 1rem;
  }
  .link:hover {
    background-color: #820000;
    color: white;
    transform: scale(1.1);
    transition: 300ms ease-in;
  }
  .button-login {
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-family: montserrat;
    color: var(--color-four);
    background-color: #fff;
    cursor: pointer;
    transition: background-color 300ms ease-in;
    margin-top: 1rem;
  }
  .button-login:hover {
    color: #fff;
    background-color: #820000;
    transform: scale(1.1);
    transition: 300ms ease-in;
  }
  .margin-top-1rem {
    margin: 0;
    margin-top: 1rem;
  }

  /* Estilizar el icono del menú hamburguesa */
  #boton-hamburguesa {
    visibility: initial;
    border-radius: 10px;
    background-color: #820000;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    margin-right: 1rem;
  }

  /* 1er Contenido */
  .content-text {
    font-size: 1.5rem;
    margin: 0;
    margin-top: 2rem;
  }
  .title-one {
    font-size: 3rem;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
  }

  /*estilos del enlace para el blog*/
  .content-blog > h2 {
    font-size: 2rem;
    text-align: center;
  }
  /* Estilos Parte Izquierda del 3er Contenido */
  .objet-one {
    font-size: 1.3rem;
    text-align: center;
    margin: 30px 0;
  }

  /* Estilos Parte Derecha del 3er Contenido */
  .objet-two > article > h4 {
    font-size: 1.5rem;
  }
  .objet-two > article > h4 > span {
    font-size: 3rem;
  }
  .objet-two > article > p {
    width: 250px;
  }

  /* Estilos Para La Etiqueta Footer Y Su Contenido Principal */
  .footer > h2 {
    font-size: 1.2rem;
    text-align: center;
    font-family: montserrat-extrabold;
  }
  .social-network > a svg {
    width: 2.5rem;
    height: 2.5rem;
  }
  .section-one iframe {
    display: block;
  }

  /* -----------------------Catalogo-styles------------------ */
  /* Estilos Sección Categorías */
  .categorias {
    width: 95%;
  }

  /* Estilos Categorías */
  /*----------------------EStilos para las cards generales-------------------------------*/
  /* estilos Desing-card*/
  .cat-768px {
    width: 100%;
  }
  .desing-card {
    width: 80%;
  }
  .desing-log-creativa {
    width: 45px;
    height: 45px;
    margin-left: 0;
  }
  .desing-card-2 {
    width: 90%;
  }
  .desing-log-creativa-2 {
    width: 45px;
    height: 45px;
    margin-left: 0;
  }

  /*main tipo canvas*/
  .title-text {
    font-size: 1.5rem;
  }
  .main {
    width: 100%;
    height: 450px;
  }
  .tam {
    width: 45px;
    height: 45px;
  }
  .main-section {
    text-align: center;
    width: 8rem;
    height: auto;
    padding: 0.6rem;
  }
  /* Estilos Del Login */
  .title-login {
    font-size: 1.6rem;
  }
  .login {
    padding: 0.4rem;
    font-size: 1.1rem;
  }
  .social-network a svg {
    width: 30px;
    height: 30px;
    margin-top: 0.7rem;
  }
  .user,
  .mail,
  .tlfno,
  .password {
    width: 85%;
    font-size: 1rem;
    padding: 0.3rem;
    padding-left: 0.5rem;
  }
  .label-login {
    margin-left: 1.2rem;
  }
  .alert-sms {
    font-size: 0.9rem;
  }
  .form-login svg,
  .svg-recover {
    width: 80px;
    height: 80px;
  }

  .text-blog-one {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
