/* Fuentes Del login */
@font-face {
  font-family: montserrat;
  src: url(../fonts/montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: montserrat-extrabold;
  src: url(../fonts/montserrat/static/Montserrat-ExtraBold.ttf);
}
@font-face {
  font-family: montserrat-semibold;
  src: url(../fonts/montserrat/static/Montserrat-SemiBold.ttf);
}

/* Estilos Por Defecto & Variables */
:root {
  --color-one: #ffffff;
  --color-two: #eb1101;
  --color-three: #eac500;
  --color-four: #000000;
  --color-five: #820000;
  --bg-color: #fff1fd;
  --Montserrat-ExtBold: montserrat-extrabold;
  --Montserrat-SemBold: montserrat-semibold;
  --Montserrat: montserrat;
}
body {
  background-color: var(--color-five);
  font-family: montserrat;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-image: linear-gradient(90deg, #420000, #980000);
}
/* Estilos Etiqueta Main */
main {
  width: 100%;
  height: 100vh;
  display: flex;
}
/* Estilos Sección 1 */
.seccion1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: medium solid var(--color-one);
}
.tlf {
  text-align: center;
  width: 50%;
  height: 70vh;
  color: var(--color-one);
  border: medium solid var(--color-one);
  background-color: #424743;
  animation: into-left 700ms ease both;
}
/* Estilos Sección 2 */
.seccion2 {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.header {
  width: 100%;
  height: auto;
}
h1 {
  text-align: center;
  color: var(--color-one);
  font-family: var(--Montserrat-ExtBold);
  font-size: 1.5rem;
}
.subtitle-sec2 {
  text-align: center;
  color: var(--color-one);
  font-family: var(--Montserrat-ExtBold);
  font-size: 1.3rem;
}

/* Estilos Login Container */
.input-container {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}
.input-container form {
  width: 90%;
  height: 90%;
  margin: 2rem auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
hr {
  width: 70%;
}
label {
  color: #0007;
  align-self: flex-start;
  margin-left: 4rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-family: var(--Montserrat);
}
/* Estilos Input Mail */
.mail {
  width: 50%;
  height: 1.5rem;
  font-size: 1.1rem;
  padding: 0.2rem;
  padding-left: 0.5rem;
  border: none;
  border: medium solid #0007;
  border-radius: 7px;
  color: var(--color-four);
  animation: into-right 700ms ease both;
}
.mail::placeholder {
  font-size: 1.2rem;
  color: #0006;
  padding-left: 0.4rem;
  font-family: var(--Montserrat);
}
.mail:focus {
  outline: none;
  border: medium solid #820000;
}
.mail:focus:valid {
  outline: none;
  border: medium solid #0f0;
}
.mail:valid {
  outline: none;
  border: medium solid #0f0;
}
/* Login */
.login {
  margin: 0.7rem auto 0.5rem;
  border: none;
  background-color: var(--color-five);
  color: var(--color-one);
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 1.1rem;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  transition: background-color 700ms ease;
  animation: into-right 700ms ease 700ms both;
  font-family: var(--Montserrat-SemBold);
}
.login:hover {
  background-color: var(--color-two);
}
/* Estilos Finales */
.alert-sms {
  color: #0008;
  text-align: center;
  font-family: var(--Montserrat);
  letter-spacing: -1px;
  animation: into-right 700ms ease 1400ms both;
  font-size: 1rem;
}
svg{
  border-radius: 100px;
}