:root {
  --color1: #00055f;
  --color2: #ffa000;
  --color3: #020001;
  --color4: #0072e9;
  --color5: #820000;
}
@font-face {
  font-family: black-regular;
  src: url(../fonts/ArchivoBlack-Regular.ttf) format(truetype);
  font-style: Regular;
  font-weight: normal;
}
@font-face {
  font-family: righteous;
  src: url(../fonts/Righteous-Regular.ttf) format(truetype);
  font-style: Regular;
  font-weight: normal;
}
@font-face {
  font-family: anton;
  src: url(../fonts/Anton-Regular.ttf) format(truetype);
  font-weight: normal;
  font-style: Regular;
}
body {
  line-height: 1.6;
  width: 100%;
  height: auto;
  margin: 0;
}
header {
  width: 100%;
  height: auto;
  font-size: 1.5rem;
  text-align: center;
  font-family: black-regular;
}
.name-slogan {
  display: flex;
  align-items: center;
  justify-content: center;
}
.name-slogan > img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
.onecolor {
  color: var(--color2);
  text-shadow: 1px 1px 1px var(--color3);
}
.twocolor {
  color: var(--color5);
  text-shadow: 1px 1px 1px var(--color3);
}
.threecolor {
  color: var(--color4);
  text-shadow: 1px 1px 1px var(--color3);
}
span {
  font-size: 4 rem;
}
.background-new {
  background-color: white;
}
.font-background {
  background-color: var(--color4);
  filter: opacity(90%);
  width: 100%;
  height: auto;
}
.font-backgroundtwo {
  background-color: white;
  /* filter: opacity(90%); */
  width: 100%;
  height: auto;
  padding: 0;
}
.navbar {
  width: 100%;
  height: 20%;
  background-color: white;
  align-items: center;
  justify-content: space-evenly;
}
.navbar > a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  font-family: righteous;
}
.navbar > a:hover {
  transition: 0.5s ease-in-out;
  color: var(--color2);
}
.modifiqued {
  height: 80vh;
  filter: opacity(90%);
}
.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: inherit;
  height: 100%;
  position: absolute;
  color: black;
  font-family: black-regular;
  z-index: 2;
}
.letter > a {
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 20px;
  width: 200px;
  height: auto;
  transition-property: background-color;
}
.letter > a:hover {
  transition: 1s linear;
  color: white;
  background-color: black;
}
h2 {
  text-align: justify;
  font-size: 3rem;
  font-family: black-regular;
  color: white;
  text-shadow: 5px 5px 5px var(--color3);
  font-family: black-regular;
}
h2 > span {
  font-size: 2.5rem;
  color: var(--color2);
  text-shadow: 2px 2px 2px black;
}
.div-one {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  padding: 80px;
  width: 100%;
}
.at-1 {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: black-regular;
  margin: 60px;
}
.at-1 > p {
  color: black;
  font-size: 1.2rem;
  text-align: justify;
}
.at-2 {
  padding-left: 20px;
}
.at-2 > img {
  filter: blur(0.4px);
  margin: 1rem;
  width: 400px;
  height: 400px;
}
.div-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
}
.title > h2 {
  font-size: 3rem;
  padding-top: 60px;
  color: white;
  text-align: center;
}
.one-article {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
  padding: 20px;
  margin: 5%;
  text-shadow: 2px 2px 2px black;
}
.images-ico {
  filter: invert(1);
  width: 100px;
  height: 100px;
}
.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}
.sections > h3 {
  font-size: 2rem;
}

.div-footer {
  display: flex;
  justify-content: space-around;
  align-items: start;
  background-color: var(--color3);
  color: white;
  width: 100%;
  height: auto;
  padding: 20px;
}
.social-network {
  display: flex;
  align-items: center;
}
.social-network > a > svg {
  width: 50px;
  height: 50px;
}
.social-network > a {
  margin: 20px;
  border-radius: 100%;
  transition: transform 0.5s 1ms ease-in-out;
}
.social-network > a:hover {
  transform: scale(150%);
}
.desing-footer {
  align-content: center;
}
.desing-footer > p {
  text-align: justify;
  max-width: 400px;
}
.information-footer {
  display: flex;
  flex-direction: column;
}
.information-footer > a {
  text-decoration: none;
  color: white;
  transition: 0.5s ease-in-out;
}
.information-footer > a:hover {
  transform: scale(120%);
  color: var(--color2);
}
.derechos-autor > h4 {
  width: 100%;
  height: auto;
  font-family: r black-regular;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  text-align: center;
  padding: 5px;
  margin: 0;
}
