@font-face {
  font-family: montserrat;
  src: url(../fonts/montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: montserrat-extrabold;
  src: url(../fonts/montserrat/static/Montserrat-ExtraBold.ttf);
}
@font-face {
  font-family: montserrat-semibolt;
  src: url(../fonts/montserrat/static/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: tt-chocolate;
  src: url(../fonts/05.woff);
}
:root {
  --color-one: #ffffff;
  --color-two: #eb1101;
  --color-three: #eac500;
  --color-four: #000000;
  --color-five: #820000;
  --bg-color: #fff1fd;
}
body {
  background-color: var(--color-one);
  font-family: montserrat;
  scroll-behavior: smooth;
}
h1 {
  font-family: tt-chocolate;
  font-size: 2.5rem;
}
header {
  width: auto;
  height: 10vh;
  padding: 10px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.image-title {
  margin-left: 40px;
  display: flex;
  align-items: center;
  height: auto;
}
.image-title > img {
  width: 70px;
  height: 70px;
}
header > nav {
  display: flex;
  margin-right: 20px;
  flex-direction: row;
}
nav > a {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: montserrat;
  text-decoration: none;
  font-size: 1rem;
  color: black;
  background-color: var(--bg-color);
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
  margin: 40px;
  margin: 0 20px;
}
nav > a:hover {
  background-color: var(--color-five);
  color: white;
  transition: 1s ease-in;
}
.content-one {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  background-image: url(../images/Prototipo\ de\ ordenador\ web\ para\ app\ móvil\ moderna\ azul\ y\ violeta1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -120px;
}
.content-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  font-size: 2rem;
  margin-top: 100px;
  margin-left: 50px;
}
.content-text > h2 {
  font-family: montserrat-extrabold;
  font-size: 3rem;
  text-align: start;
}
.content-text > a {
  text-align: center;
  font-size: 1.5rem;
  font-family: montserrat;
  color: var(--color-one);
  text-decoration: none;
  background-color: var(--color-five);
  border-radius: 20px;
  width: 150px;
  padding: 20px;
}
.content-two {
  width: 100%;
  height: 80vh;
}
.content-two > h2 {
  text-align: center;
  font-family: montserrat-extrabold;
  font-size: 2.5rem;
}
.position-services {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin: 0px;
}
.card-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  font-family: montserrat-semibolt;
}
.card-service > p {
  text-align: justify;
  width: 200px;
}
.content-three {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: space-around;
  align-items: center;  
}
.objet-one {
  font-family: montserrat-extrabold;
  font-size: 2rem;
  text-align: justify;
}
.objet-two {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.objet-two > article > h4 {
  font-size: 2rem;
}
.objet-two > article > h4 > span {
  color: #820000;
  font-size: 4rem;
  font-family: montserrat-extrabold;
}
.objet-two > article > p {
  width: 400px;
  text-align: justify;
}
footer {
  max-width: 100%;
  height: 60vh;
  background-image: url(../images/Prototipo\ de\ ordenador\ web\ para\ app\ móvil\ moderna\ azul\ y\ violeta4.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  color: var(--color-one);
}
footer > h2 {
  text-align: center;
  font-family: montserrat-extrabold;
}
footer > p {
  margin: 0 auto;
  text-align: center;
  width: 800px;
}
footer > h3 {
  font-family: montserrat-semibold;
  text-align: center;
}
.content-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}
.section-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}
.section-one>ul>li{
    margin: 5px;
}
.section-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 20px;
}
.section-two > input{
font-size: 1rem;
  font-family: montserrat;
  border: none;
  margin: 5px;
  width: 400px;
  height: 30px;
  border-radius: 5px;
}
textarea{
    border-radius: 5px;
    border: none;
}
.section-two > button {
  background-color: var(--color-four);
  color: var(--color-one);
  margin-top: 10px;
  padding: 5px;
  margin-left: 300px;
  width: auto;
  padding: 5px;
  height: auto;
  border: none;
  border-radius: 10px;
}

