/******************** Custom Properties ************************/
/* Feuentes Externas */
@font-face {
  font-family: montserrat;
  src: url(../fonts/montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: montserrat-extrabold;
  src: url(../fonts/montserrat/static/Montserrat-ExtraBold.ttf);
}
@font-face {
  font-family: montserrat-semibolt;
  src: url(../fonts/montserrat/static/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: tt-chocolate;
  src: url(../fonts/05.woff);
}

/* Estilos Default */
:root {
  --color-one: #ffffff;
  --color-two: #eb1101;
  --color-three: #eac500;
  --color-four: #000000;
  --color-five: #820000;
  --bg-color: #fff1fd;
  --Montserrat-ExtBold: montserrat-extrabold;
  --Montserrat-SemBold: montserrat-semibold;
  --Montserrat: montserrat;
}

/******************** Reset    ******************/
html {
  box-sizing: border-box;
  text-size-adjust: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  font-size: calc(14px+ (18-14) * ((100vw-300px) / (1400-300)));
}

iframe,
video {
  width: 100%;
  height: calc((100vw - 4rem) * (9 / 16));
  max-height: calc(800px * 9 / 16);
  aspect-ratio: 16 / 9;
}

img {
  max-width: 100%;
  height: auto;
}

blockquote p,
figure {
  margin: 0;
}

blockquote {
  padding: 0.5rem 1.5rem;
  border-left: medium solid var(--primary-color);
  opacity: 0.75;
}

/******************** Components  ************************/
.contenedor {
  width: auto;
  height: auto;
  margin: auto;
  display: table;
}

.efecto {
  position: relative;
  float: left;
  color: #000;
}

.efecto > span {
  position: absolute;
  right: 0;
  width: 0;
  background: white;
  border-left: 1px solid #000;
  animation: escribir 5s linear infinite alternate;
}

@keyframes escribir {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

/*Checkbox de modo dark*/
.ui-switch {
  /* switch */
  --switch-bg: rgb(135, 150, 165);
  --switch-width: 48px;
  --switch-height: 20px;
  /* circle */
  --circle-diameter: 32px;
  --circle-bg: #820000;
  --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
}
.ui-switch > input {
  display: none;
}
.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}

.slider .circle {
  top: calc(var(--circle-inset) * -1);
  left: 0;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  position: absolute;
  background: var(--circle-bg);
  border-radius: inherit;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.slider .circle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  border-radius: inherit;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  opacity: 0;
}

/* actions */
.ui-switch input:checked + .slider .circle {
  left: calc(100% - var(--circle-diameter));
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
}
.ui-switch input:active + .slider .circle::before {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  opacity: 1;
  width: 0;
  height: 0;
}
/******************** Utilities   ************************/
/*Tipo bosstrap, atributtos, Animaciones y propiedades*/
.h2-title {
  font-size: 3rem;
  text-align: center;
  font-family: var(--Montserrat-ExtBold);
}

/*------------------- Animaciones keyframe---------------*/
@keyframes into-right {
  0% {
    transform: translateX(400%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes into-left {
  0% {
    transform: translateX(-400%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes into-repeat {
  0% {
    opacity: 0;
    transform: translate(400%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* animation: name duration timing-function delay iteration-count direction fill-mode; */
.compromise {
  animation: into-right 700ms ease both;
}
.person {
  animation: into-right 700ms ease 500ms both;
}
.privacity {
  animation: into-right 700ms ease 1200ms both;
}

/************************* Site Styles ***************************/
/*  Estilos del sitio/Uso de colores/margenes padding/etc */
body {
  background-color: var(--color-one);
  font-family: montserrat;
}
.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}
/* Estilos Para El Titulo Y Logo De La Compañia */
.image-title {
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: auto;
  height: auto;
}
.image-title > a {
  display: flex;
  align-items: center;
}
.image-title > a > img {
  width: 50px;
  height: auto;
}
.title-pag {
  font-family: tt-chocolate;
  font-size: 2rem;
  margin-left: 0.7rem;
}
/* Estilos Para Nav-bar */

/* Estilizar el Contenedor del menú */
#menu-hamburguesa {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  height: auto;
}

/* Estilizar los elementos del menú */

.link {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-family: montserrat;
  text-decoration: none;
  font-size: 1rem;
  color: black;
  background-color: #fff1ff;
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
  margin: 0.5rem;
  height: 35px;
}
.link:hover {
  background-color: #820000;
  color: white;
  transform: scale(1.1);
  transition: 300ms ease-in;
}
.button-login {
  border: none;
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
  font-family: montserrat;
  color: var(--color-four);
  background-color: #fff1ff;
  cursor: pointer;
  transition: background-color 300ms ease-in;
}
.button-login:hover {
  color: var(--color-one);
  background-color: #820000;
  transform: scale(1.1);
  transition: 300ms ease-in;
}
#login-state {
  display: none;
}
#login-state.login_exitoso {
  display: initial;
}
.m-1rem {
  margin: 1rem;
}

/* Estilizar el icono del menú hamburguesa */
#boton-hamburguesa {
  visibility: hidden;
  background-color: #fff1fd;
  font-size: 0;
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos Para La Etiqueta Contenedora Del 1er Contenido */
.content-one {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}
/* 1er Contenido */
.content-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: 2rem;
  margin-top: 2rem;
  margin-left: 50px;
}
.title-one {
  display: flex;
  flex-direction: row;
  font-family: montserrat-extrabold;
  font-size: 3.5rem;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
}
.text-three {
  text-align: center;
}

.content-text > a {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  font-family: montserrat;
  color: var(--color-one);
  text-decoration: none;
  background-color: var(--color-five);
  border-radius: 20px;
  width: 180px;
  padding: 10px;
  transition: background-color 300ms ease;
}
.content-text a:hover {
  background-color: #eac500;
}
/*estilos del enlace para el blog*/
.content-blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  max-width: 100%;
  height: auto;
}
.content-blog > h2 {
  font-family: montserrat-extrabold;
  font-size: 2.5rem;
  margin: 0;
}
.content-blog > p {
  font-size: 1.5rem;
}

.content-blog > p > a {
  text-decoration: none;
  font-family: montserrat-extrabold;
  color: var(--color-five);
  transition: color 300ms ease;
}
.content-blog > p > a:hover {
  color: #eac500;
}
/* Cards Modificadas */
.section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 0;
}
.content-two {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: center;
}
.title-sec2 {
  display: flex;
  font-size: 3rem;
  text-align: center;
  font-family: montserrat-extrabold;
  color: #000;
}
.card-modify {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0rem 0rem 2rem 0.3rem #0003;
  background-color: #ffffff;
  border-radius: 10px;
}
.card-modify:hover {
  transform: scale(1.1);
  transition: 300ms ease;
}
.logo {
  width: 5rem;
  height: 5rem;
  background-color: #820000;
  border-radius: 50%;
  position: absolute;
  top: -17%;
  left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.logo:hover {
  transform: scale(1.1);
  background-color: #fff;
  transition: all 300ms ease;
}
.logo:hover svg {
  fill: #820000;
  transition: all 300ms ease;
}
.logo svg {
  fill: #fff;
  width: 4rem;
  height: 4rem;
}
.card-modify h3 {
  margin-top: 3rem;
  text-align: center;
  font-family: montserrat-extrabold;
}
.card-modify p {
  padding-left: 1.4rem;
  padding-right: 2rem;
  font-family: montserrat;
}
.card-modify:nth-child(1) {
  animation: into-repeat 700ms both 0s ease;
}
.card-modify:nth-child(2) {
  animation: into-repeat 700ms both 500ms ease;
}
.card-modify:nth-child(3) {
  animation: into-repeat 700ms both 800ms ease;
}
.card-modify:nth-child(4) {
  animation: into-repeat 700ms both 1200ms ease;
}
/* Estilos Para La Caja Contenedora Del 3er Contenido */
.content-three {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: auto;
  height: auto;
  justify-content: space-around;
  align-items: center;
}
/* Estilos Parte Izquierda del 3er Contenido */
.objet-one {
  font-family: montserrat-extrabold;
  font-size: 2rem;
  text-align: justify;
}

/* Estilos Parte Derecha del 3er Contenido */
.objet-two {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.objet-two > article > h4 {
  font-size: 2rem;
}
.objet-two > article > h4 > span {
  color: #820000;
  font-size: 4rem;
  font-family: montserrat-extrabold;
}
.objet-two > article > p {
  width: 375px;
  text-align: justify;
}
/* Estilos Para La Etiqueta Footer Y Su Contenido Principal */
.footer {
  width: auto;
  height: auto;
  background-color: var(--color-five);
  color: var(--color-one);
}
.footer > h2 {
  font-size: 2rem;
  text-align: center;
  font-family: montserrat-extrabold;
}
.footer > p {
  margin: 0 auto;
  text-align: center;
}

/* Estilos Linea Separadora de Las Redes Sociales */
.objet-line {
  height: 2px;
  width: 400px;
  background-color: var(--color-one);
  border-radius: 100px;
}
/* Contenido Etiqueta Contenedora Del Footer */
.content-footer {
  display: flex;
  justify-content: space-around;
  align-items: start;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

/* Estilos Parte Izquierda Del Footer Con los Datos */
.section-one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  margin: 10px;
  width: auto;
  height: auto;
}
/* Estilos Etiqueta Contenedora del Form */
.section-two {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 20px;
}

/* Estilos Para El Area de Contacto */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px auto;
}
.form input {
  font-size: 1rem;
  font-family: montserrat;
  border: none;
  margin: 5px;
  width: 100%;
  height: 2rem;
  border-radius: 5px;
  padding-left: 1rem;
}
.form input::placeholder {
  font-size: 1.1rem;
  color: #0006;
  padding-left: 0.4rem;
  font-family: var(--Montserrat);
}
.form input:focus {
  outline: none;
  outline: medium solid #000000;
}
.form textarea {
  font-size: 1rem;
  font-family: montserrat;
  border: none;
  margin: 5px;
  width: 100%;
  height: 10rem;
  border-radius: 5px;
  padding: 0.2rem;
  padding-left: 1rem;
}
.form textarea::placeholder {
  font-size: 1.1rem;
  color: #0006;
  padding-left: 0.4rem;
  font-family: var(--Montserrat);
}
.form textarea:focus {
  outline: none;
  outline: medium solid #000000;
}

.form button {
  background-color: var(--color-four);
  color: var(--color-one);
  margin-top: 5px;
  padding: 0.8rem;
  width: 40%;
  height: auto;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 400ms ease-in-out;
  font-family: montserrat-extrabold;
}
.form button:hover {
  background-color: #ffffff;
  color: #000000;
}
/* Estilos Area De Las Redes Sociales */
.social-network {
  display: flex;
  height: auto;
  width: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.social-network > a {
  margin: 0 10px 0 10px;
  transition: transform 400ms ease;
}
.social-network a:hover {
  transform: scale(1.1);
}

/*----------- ESTILOS DEL BLOG ------------------------*/
/* cards blog*/
.blog {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.title-blog {
  text-align: center;
  font-family: Montserrat-ExtraBold;
  font-size: 3rem;
  padding: 0;
  margin: 0;
}
.position-card-1 {
  display: flex;
  width: auto;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 200px;
}
.card {
  width: 280px;
  height: 350px;
  border-radius: 10px;
  position: relative;
  margin-top: 100px;
}
.color-top-card {
  margin: 0;
  position: absolute;
  border-radius: 20px 20px 0 0;
  background-color: var(--color-five);
  width: 100%;
  height: 35%;
  top: 0;
  opacity: 0.8;
}
.content-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: auto;
}
.position-img-card-blog {
  width: 100%;
  height: auto;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.img-card-blog {
  position: relative;
  object-fit: cover;
}
.img-card-blog > img {
  width: 120px;
  height: 125px;
  border-radius: 50%;
  border: 10px solid white;
}
.text-person-blog {
  font-size: 1.5rem;
  margin: 15px 0;
  text-align: center;
}
.text-card-blog {
  padding: 5px;
  text-align: justify;
}
/* fin cards blog*/
.slogan {
  font-family: montserrat-extrabold;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin-bottom: 2.5rem;
}
.slogan > article > h2 {
  width: auto;
  height: auto;
  border-left: 10px groove var(--color-five);
  font-size: 4rem;
  padding-left: 20px;
  margin: 15px;
}
.position-1 {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.position-2 {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.position-3 {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* -----------------------Catalogo-styles------------------ */
/* Estilos Sección Categorías */

.categorias {
  margin: 0 auto;
  width: auto;
  height: auto;
  display: flex;
  padding: 10px;
  margin-bottom: 40px;
}
.row {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.cat-link_s,
.cat-link_m,
.cat-link_l {
  text-decoration: none;
  width: 97%;
  height: 17rem;
  padding: 0;
  align-self: center;
  margin: 0.6rem;
}
.cat-link_s:hover,
.cat-link_m:hover,
.cat-link_l:hover {
  transform: scale(1.02);
  opacity: 0.8;
  transition: 300ms ease;
}
.cat-link_m {
  width: 60%;
}
.cat-link_s {
  width: 35%;
}
.cat-contain,
.cat-contain2,
.cat-contain3,
.cat-contain4,
.cat-contain5 {
  background-image: url(../images/diseños/pictures-desing.jpg);
  background-size: cover;
  width: auto;
  height: 100%;
  margin: 1rem 0;
}
.cat-contain:hover,
.cat-contain2:hover,
.cat-contain3:hover,
.cat-contain4:hover,
.cat-contain5:hover {
  background-position: 0% 200%;
  transition: 5s ease-in-out;
}
.cat-contain2 {
  background-image: url(../images/diseños/warnings-desing.jpg);
}
.cat-contain3 {
  background-image: url(../images/diseños/picture-estampados.jpg);
}
.cat-contain4 {
  background-image: url(../images/diseños/clothes-desing.jpg);
}
.cat-contain5 {
  background-image: url(../images/diseños/pendones.jpg);
}
.black-cape {
  background-color: #0006;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-cat {
  font-size: 250%;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  font-family: var(--Montserrat-ExtraBold);
}

/* Estilos Categorías */
/*----------------------EStilos para las cards generales-------------------------------*/
/* estilos Desing-card*/
.desing-card {
  font-family: Montserrat-ExtraBold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 280px;
  height: auto;
  position: relative;
  margin-bottom: 20px;
}

.card-desing-download-svg {
  position: absolute;
  bottom: 50%;
  display: none;
}
.desing-card-img > img {
  width: 256px;
  object-fit: contain;
  border-radius: 10px;
}
.desing-card-text {
  display: flex;
  width: 256px;
  height: 50px;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
}
.desing-log-creativa {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.desing-card:hover .desing-card-img,
.desing-card-2:hover .desing-card-img-2 {
  opacity: 0.1;
  transition: 0.5s ease-in-out;
}
.desing-card:hover .card-desing-download-svg {
  display: initial;
  transition: 0.5s ease-in-out;
  opacity: 1;
}
.desing-card-2 {
  font-family: Montserrat-ExtraBold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: 400px;
  position: relative;
  margin-bottom: 20px;
}
.desing-card-text-2 {
  display: flex;
  width: 400px;
  height: 50px;
  align-items: center;
  margin: 10;
  justify-content: flex-start;
}
.desing-card-text-2 > span {
  margin-left: 10px;
}
.desing-card-img-2 > img {
  width: 400px;
  object-fit: contain;
  border-radius: 10px;
}
.desing-log-creativa-2 {
  width: 50px;
  height: 50px;
}

/* -------------------------login-styles------------------*/

/* Estilos Etiqueta Main */
.main-login {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}
/* Estilos Seccion 1 */
.overflow-hidden {
  width: 400px;
  height: 600px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.telef {
  padding-bottom: 13px;
  width: 270px;
  height: 565px;
  background-image: url(../images/Telef\ svg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}
.img-telef {
  max-width: 150%;
  max-width: 400px;
  height: 600px;
}
.telef:hover {
  background-position: 0 100%;
  transition: 6s eaSe;
}

/* Estilos Sección 2  */
.seccion2 {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title-login {
  text-align: center;
  font-size: 3.5rem;
  color: var(--color-five);
  font-family: var(--Montserrat-ExtraBold);
}
/* Estilos Login Container */
.input-container {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input-container .form-login {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hr-login {
  width: 80%;
}
.label-login {
  color: #0007;
  align-self: flex-start;
  margin-left: 11rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-family: var(--Montserrat);
}
/* Estilos Sección 1 */
.seccion1 {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-five);
}
/* Estilos Boton Submit */
.login {
  margin: 0.7rem auto 0.5rem;
  border: none;
  background-color: var(--color-five);
  color: var(--color-one);
  padding: 0.8rem;
  font-size: 1.3rem;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 700ms ease;
  animation: into-left 700ms ease 1800ms both;
  font-family: var(--Montserrat-SemBold);
}
.login > a {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--color-one);
}
.login:hover {
  background-color: var(--color-two);
}
/* Estilos Finales */
.sub-title-three-login,
.recover {
  font-size: 1.3rem;
  text-align: center;
  font-family: var(--Montserrat-ExtBold);
}
.sub-title-three-login a,
.recover a {
  color: var(--color-five);
  transition: color 400ms ease;
  animation: into-right 700ms ease 1000ms both;
  font-family: var(--Montserrat);
}
.sub-title-three-login a:hover,
.recover a:hover {
  color: var(--color-two);
}
.social-network {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.social-network a {
  margin: 0 10px;
  text-decoration: none;
}
.social-network a:hover {
  transform: scale(1.1);
  transition: 300ms ease-in-out;
}
/*---------------------------styles Register---------------------*/
/* Estilos Sección 1 */
.seccion1 {
  order: 2; /* Si desea volver a poner el teléfono a la izquierda borre esto :D, no dañe eñ resto del código. GRACIAS... <3 */
}
/* Estilos Input Nombre */
.user,
.mail,
.tlfno,
.password {
  width: 50%;
  /* height: 1.5rem; */
  font-size: 1.1rem;
  padding: 0.4rem;
  padding-left: 0.5rem;
  border: none;
  border: thin solid #0007;
  border-radius: 0.5rem;
  color: var(--color-four);
  animation: into-left 700ms ease both;
}
.user::placeholder,
.mail::placeholder,
.tlfno::placeholder,
.password::placeholder {
  font-size: 1.1rem;
  color: #0006;
  padding-left: 0.4rem;
  font-family: var(--Montserrat);
}
.user:focus,
.mail:focus,
.tlfno:focus,
.password:focus {
  outline: none;
  border: thin solid #820000;
}
.user:focus:valid,
.mail:focus:valid,
.tlfno:focus:valid,
.password:focus:valid {
  outline: none;
  border: thin solid #0f0;
}
.user:valid,
.mail:valid,
.tlfno:valid,
.password:valid {
  outline: none;
  border: thin solid #0f0;
}
/* Estilos Input Mail */
.mail {
  animation: into-left 700ms ease 800ms both;
}
/* Estilos Input Teléfono */
.tlfno {
  animation: into-left 700ms ease 1100ms both;
}
/* Estilos Input Contraseña */
.password {
  animation: into-left 700ms ease 1500ms both;
}
/* Estilos Finales */
.alert-sms {
  color: #0008;
  text-align: center;
  font-family: var(--Montserrat);
  letter-spacing: -1px;
  animation: into-left 700ms ease 1400ms both;
  font-size: 1.2rem;
}

/*----------------------componentes------------------------------*/
/*main tipo canvas*/
.positions-menu-of-content {
  margin-top: 50px;
  height: auto;
  width: auto;
  display: flex;
  flex-wrap: wrap;
}
.direction-column {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  justify-content: flex-start;
}
.title-text {
  width: auto;
  margin-left: 90px;
  font-size: 1.8rem;
}
.main {
  width: 200px;
  height: 100vh;
  flex-direction: column;
  position: sticky;
  top: 0;
}
.overflow {
  overflow-y: scroll;
  height: 100vh;
}
.tam {
  width: 50px;
  height: 50px;
  object-fit: cover;
  background-color: red;
  border-radius: 100%;
}
.float {
  margin: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  position: fixed;
}
.name-photo {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
a {
  text-decoration: none;
}
.main-section {
  width: auto;
  height: auto;
  padding: 1rem;
  margin: 1rem;
}
.main-section > a {
  width: auto;
  height: auto;
  color: var(--color-four);
  font-family: var(--Montserrat);
}
.main-section:hover {
  background-color: rgb(243, 243, 243);
}
.iframe {
  width: 100%;
  height: auto;
}
