
/* Estilos Etiqueta Main */
.main-recover-password {
  width: 100%;
  height: 100vh;
  display: flex;
}
/* Estilos Sección 1 */
.seccion1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: medium solid var(--color-one);
  background-color: var(--color-five);
  overflow: hidden;
}
.tlf {
  max-height: 95vh;
  animation: into-left 700ms ease both;
}
.tlf svg {
  width: auto;
  height: 100%;
}
/* Estilos Sección 2 */
.seccion2 {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.title-recover-password {
  text-align: center;
  color: var(--color-five);
  font-family: var(--Montserrat-ExtBold);
  font-size: 1.5rem;
}
/* Estilos Login Container */
.input-container {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}
.input-container form {
  width: 90%;
  height: 90%;
  margin: 2rem auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hr-recover-password {
  width: 70%;
}
.label-recover-password {
  color: #0007;
  align-self: flex-start;
  margin-left: 4rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-family: var(--Montserrat);
}
/* Estilos Input Mail */
.mail {
  width: 50%;
  height: 1.5rem;
  font-size: 1.1rem;
  padding: 0.2rem;
  padding-left: 0.5rem;
  border: none;
  border: thin solid #0007;
  border-radius: 7px;
  color: var(--color-four);
  animation: into-right 700ms ease both;
}
.mail::placeholder {
  font-size: 1.2rem;
  color: #0006;
  padding-left: 0.4rem;
  font-family: var(--Montserrat);
}
.mail:focus {
  outline: none;
  border: thin solid #820000;
}
.mail:focus:valid {
  outline: none;
  border: thin solid #0f0;
}
.mail:valid {
  outline: none;
  border: thin solid #0f0;
}
/* Login */
.login-recover {
  margin: 0.7rem auto 0.5rem;
  border: none;
  background-color: var(--color-five);
  color: var(--color-one);
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 1.1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 700ms ease;
  animation: into-right 700ms ease 700ms both;
  font-family: var(--Montserrat-ExtBold);
}
.login-recover:hover {
  background-color: var(--color-two);
}
/* Estilos Finales */
.alert-sms {
  color: #0008;
  text-align: center;
  font-family: var(--Montserrat);
  letter-spacing: -1px;
  animation: into-right 700ms ease 1400ms both;
  font-size: 1rem;
}
.svg-recover {
  border-radius: 100px;
}
